node_modules/
package-lock.json
yarn.lock

.env
.env.local
.env.*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pids
*.pid
*.seed
*.pid.lock

dist/
build/

.idea/
.vscode/
*.swp
*.swo
.DS_Store